/* colors:
peach: #FAA275
darker peach: #FF8C61
pink: #CE6A85
purple: #985277
dark purple: #5C374C */

/* font:
font-family: 'Nunito', sans-serif;
font-family: 'Roboto Mono', monospace; */

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
font-family: 'Roboto Mono', monospace;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-title {
  font-family: 'Nunito', sans-serif;
font-family: 'Roboto Mono', monospace;
display: flex;
justify-content: center;
}

#root {
  height: 100vh;
}